page-tipo-licor {
    .content{
        // background-color: #EAECEE;
        background-image: url(../assets/imgs/bg.jpg);
        padding: 0%;
        .scroll-content{
            padding: 16px 0px !important;
        }
    }
}
