<ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Administrador</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button ion-item (click)="logOut()">
          Cerrar session
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
  <ion-header>
    <ion-navbar>
      <ion-title>
          <button ion-button menuToggle class="white">
              <ion-icon name="menu"></ion-icon>
              Menu                 
            </button >
            <button (click)="nuevoTipo()" item-end color="light" icon-only="" ion-button="" class=" button button-ios button-default button-default-ios button-ios-light"><span class="button-inner">
                <ion-icon ios="ios-add" md="md-add"></ion-icon>
              </span><div class="button-effect"></div>
            </button>
            <!-- <button item-end ion-button top right (click)="nuevoTipo()"> 
              <ion-icon name="ios-add-outline"></ion-icon>
            </button> -->
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <!-- <ion-fab top right edge>
        <button ion-fab mini><ion-icon name="add"></ion-icon></button>
        <ion-fab-list>
          <button (click)="nuevoTipo()" ion-fab><ion-icon name="ios-keypad-outline"></ion-icon></button>
          <button (click)="nuevoLicor()" ion-fab><ion-icon name="ios-beer-outline"></ion-icon></button>
        </ion-fab-list>
      </ion-fab> -->

      <ion-card *ngFor="let tipo of tipos_licor">
        <ion-card-header>
          <ion-item-divider color="light" ><h1>{{tipo.nombre}}</h1>
            <button (click)="nuevoLicor(tipo.nombre,tipo.rowid )" item-end color="light" icon-only="" ion-button="" class=" button button-ios button-default button-default-ios button-ios-light"><span class="button-inner">
              <ion-icon ios="ios-add" md="md-add"></ion-icon>
            </span><div class="button-effect"></div>
          </button>
            <button item-end color="light" icon-only="" ion-button="" class=" button button-ios button-default button-default-ios button-ios-light"><span class="button-inner">
              <ion-icon name="build"></ion-icon>
            </span><div class="button-effect"></div>
          </button>
          </ion-item-divider>
          
        </ion-card-header>
        <ion-card-content>
            <div *ngFor="let licor of licores_categorias" >
                <ion-item  *ngIf="licor.fk_tipolicor == tipo.rowid" >{{ licor.nombre }}
  
                    <button class="btn" item-end  (click)="verLicor(licor.rowid,licor.nombre)">
                        <ion-icon name="beer" ></ion-icon> /  ver
                     </button>
                </ion-item>
                
              </div>
        </ion-card-content>
      </ion-card>
      <!-- ejemplo lista -->

      

   


        <!-- <ion-item-group *ngFor="let tipo of tipos_licor">
          <ion-item-divider color="light"><h1>{{tipo.nombre}}</h1>
            <button item-end color="light" icon-only="" ion-button="" class=" button button-ios button-default button-default-ios button-ios-light"><span class="button-inner">
                <ion-icon name="build" role="img" class="icon icon-ios ion-ios-arrow-down" aria-label="ios-build"></ion-icon>
              </span><div class="button-effect"></div>
            </button>
          </ion-item-divider>
          <div *ngFor="let licor of licores_categorias">
            <ion-item  *ngIf="licor.fk_tipolicor == tipo.rowid">
              {{ licor.nombre }}
              <button class="btn" item-end  (click)="verLicor(licor.rowid,licor.nombre)">
                  <ion-icon name="beer" ></ion-icon> /  ver
               </button>
            </ion-item>
          </div>
        </ion-item-group> -->

</ion-content>
